<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple template</title>
    <script src="https://cdn.tailwindcss.com"></script>
        {% block head %} {% endblock %}
</head>
<body style="background-color: azure;">
    <nav class=" flex justify-between text-3xl my-3">
        <ul class="flex ml-5">
            <li>some point</li>
        </ul>
        <ul class="flex gap-5 mr-5">
            <li>Me</li>
            <li><a href="javascript:window.location.replace('/login')">Sign in</a></li>
        </ul>
    </nav>
    <hr>
    <div id="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>