{% extends "base.html" %}


{% block head %} 
<script>
    lots = []
    const getLots = async () => {
        const response = await fetch('http://127.0.0.1:8000/api/v1/lot/lots?limit=10&offset=0');
        const myJson = await response.json(); //extract JSON from the http response
    }
</script>
{% endblock %}

{% block content %} 
<div class="flex justify-center flex-col items-center">
    <!-- <div class="flex my-3 gap-5">
        <button onclick="getLots()" class="border-2 rounded-3xl bg-gray-300 p-3">Get lots</button>
    </div> -->
    {% for lot in lots %}
    <div class="flex rounded-3 border-2 p-3 mt-2">
        <div class="flex flex-col">
            <figure class="max-w-lg">
                <img class="h-auto max-w-full rounded-lg" src="{{backend}}{{ lot.lot_images[0].image_url}}" alt="image description">
                
            </figure>
            <span class="text-2xl font-bold"><a href="javascript:window.location.replace('/lot/{{lot.id}}')">{{ lot.lot_title }}</a></span>
            <span class="text-lg">{{ lot.lot_subcategory.display_name }}</span>
            <span class="text-lg">{{ lot.lot_address.city}}</span>
            <span class="text-lg">{{ lot.user.firstname }}</span>
            <span class="mt-2 text-sm text-right text-gray-500 dark:text-gray-400">{{ lot.date_created }}</span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}