{% extends "base.html" %}


{% block head %} 
<script>
    lots = []
    const getLots = async () => {
        const response = await fetch('http://127.0.0.1:8000/api/v1/lot/lots?limit=10&offset=0');
        const myJson = await response.json(); //extract JSON from the http response
    }
</script>
{% endblock %}

{% block content %} 
<span class="flex ml-5"><a href="javascript:history.back()">Go Back</a></span>
<div class="flex justify-center flex-col items-center">
    <span class="text-3xl font-bold">{{ lot.lot_title }}</span>
    <div class="flex rounded-3 border-2 p-3 mt-5">
        <div class="flex flex-col">
            <figure class="max-w-lg">
                <img class="h-auto max-w-full rounded-lg" src="{{backend}}{{ lot.lot_images[0].image_url}}" alt="image description">
            </figure>
            <span class="text-lg">{{ lot.lot_description.lot_description}}</span>
            <span class="text-lg">{{ lot.lot_address.city}}</span>
            <span class="text-lg">{{ lot.user.firstname }}</span>
            <span class="text-lg">{{ lot.date_created }}</span>
        </div>
    </div>
</div>
<span class="flex ml-5" id="user_agent">
    
</span>
<script> 
    function ua(){ return navigator.userAgent }
    document.getElementById('user_agent').innerHTML = ua()
    
</script>
{% endblock %}